.card_list{
  padding-left: 3.8125rem;
  padding-right: 3.8125rem;
}

.section1{
  padding-bottom: 2rem;
  position: relative;
}

.section1 h4, .section2 h4{
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.875rem;
  padding-bottom: 3.125rem;
}

.section2{
  padding-bottom: 4.6875rem;
}

.section2 h4{
  padding-bottom: 1.9375rem;
}

.caroussel{
  display:flex;
  flex-direction: row;
  gap:2rem;
  overflow-x: scroll;

  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  scroll-behavior: smooth;
  transition: scroll-left 0.3s ease-in-out; 
}

.scroll span, .scroll2 span{
  cursor:pointer;
  z-index:1;
}

.scroll span:hover, .scroll2 span:hover{
  opacity:0.8 ;
}

.scroll span:nth-child(1){
  position: absolute;
  bottom: 7.3125rem;
  left: -2rem;
}

.scroll span:nth-child(2){
  position: absolute;
  bottom: 7.3125rem;
  right: -2rem;
}

.caroussel::-webkit-scrollbar{
  display: none;
}

.pokedex{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.scroll2{
  position:absolute;
  right: -2rem;
}

.all{
  display: grid;
  grid-template-columns: repeat(30, 1fr); 
  grid-gap: 2rem; 
  overflow-x: scroll;  
  height: 650px; 

  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-scrollbar-width: none;

  scroll-behavior: smooth;
  transition: scroll-left 0.3s ease-in-out; 
}

.all::-webkit-scrollbar {
  width: 0.5rem; 
  background-color: transparent;
}

@media (max-width:425px){
  .caroussel{
    padding-left:1rem;
  }

  .section1 h4 {
    text-align: center;
  }

  .pokedex{
    justify-content: center;
  }

  .scroll2{
    display: none;
  }

  .all{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  row-gap:0;
  }
}