<div class="header">
  <section>
    <div class="logo">
      <img src="../../../assets/img/Logo.png" alt="Logo">
    </div>
    <div class="search_pokemon">
      <h1>Explore o mundo<br>
        dos <span>Pokémons</span></h1>
      <p>Descubra todas as espécies de Pokémons</p>
      <div class="input_search">
        <input type="text" [(ngModel)]="searchTerm" (keyup.enter)="searchPokemon()" placeholder="Digite o nome do seu Pokémon">
        <!-- <button type="button" >Buscar</button> -->
        <button type="button" (click)="searchPokemon()">Buscar</button>
      </div>
    </div>
  </section>
  <section>
    <div class="avatar">
      <img src="../../../assets/img/Frame 1.svg" alt="Pokemons">
    </div>
  </section>
</div>
