.header{
  padding:  1.14rem 6.5625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  position: relative;
}

.logo{
  width:6.875rem;
}

.logo img{
  width: 100%;
}

.search_pokemon{
  position: absolute;
  top: 113px;
  padding-bottom: 1.5rem;
}

.search_pokemon h1{
  font-size: 3.4375rem;
  line-height: 3.75rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.search_pokemon span{
  color:var(--text-color-secondary);
}

.search_pokemon p{
  font-size: 1.5625rem;
  padding-bottom: 1.9375rem;
}

.input_search{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input_search input{
  width: 20.8125rem;
  height: 2.75rem;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #F4F4F4;
  background: var(--text-color-light);
  box-shadow: var(--box-shadow-input);
}

.input_search button{
  width: 6.75rem;
  height: 2.6875rem;
  color: var(--text-color-light);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.375rem;

  border:none;
  border-radius: 0px 5px 5px 0px;
  background: var(--text-color-secondary);
  box-shadow:var(--box-shadow-button);
}

.avatar{
  width: 32.3125rem;
}
