<div *ngIf="pokemonDetails" class="card_details"  >
  <section class="section1">
    <div class="header">
      <div class="identification">
        <p class="name">{{pokemonDetails.name}}</p>
      </div>
      <div class="identification_data">
        <div class="code">
          <p class="cod">Cod:</p>
          <p class="cod">#00{{ pokemonDetails.id }}</p>
        </div>
        <div class="type">
          <p>Tipo:</p>
          <p class="ty">Fogo</p>
        </div>
      </div>
    </div>
    
    <figure class="avatar">
      <img *ngIf="pokemonDetails.sprites && pokemonDetails.sprites.other['official-artwork'] && pokemonDetails.sprites.other['official-artwork'].front_default" [src]="pokemonDetails.sprites.other['official-artwork'].front_default" alt="Avatar Pokemon">
    </figure>
    <figure class="evolution">
      <img src="../../../assets/img/evolution_1.svg" alt="Evolução 1">
      <img src="../../../assets/img/evolution_2.svg" alt="Evolução 2">
      <img src="../../../assets/img/evolution_3.svg" alt="Evolução 3">
      <img src="../../../assets/img/evolution_4.svg" alt="Evolução 4">
    </figure>
  </section>
  <section class="section2">
    <h4>Status</h4>
    <div class="graphic">
      <p>Vida: {{ pokemonDetails.stats.hp}}</p>
      <p>Ataque: {{ pokemonDetails.stats.attack}}</p>
      <p>Defesa: {{ pokemonDetails.stats.defense}}</p>
      <p>Velocidade: {{ pokemonDetails.stats.speed}}</p>
      
    </div>
  </section>
  <section class="section3">
    <div class="info_data">
      <h4>Informações</h4>
      <div class="data">
        <p class="data_type">Altura:</p>
        <p class="data_value">{{ pokemonDetails.height }}cm</p>
      </div>
      <div class="data">
        <p class="data_type">Peso:</p>
        <p class="data_value">{{ pokemonDetails.weight }}kg</p>
      </div>
    </div>
    <div>
      <h4>Descrição</h4>
      <p>"{{ pokemonDetails.description }}"</p>
    </div>
  </section>
</div>
