<div class="card_details">
  <section class="section1">
    <div class="header">
      <div class="identification">
        <p class="name">Charmeleon</p>
      </div>
      <div class="identification_data">
        <div class="code">
          <p class="cod">Cod:</p>
          <p class="cod">#0034</p>
        </div>
        <div class="type">
          <p>Tipo:</p>
          <p class="ty">Fogo</p>
        </div>
      </div>
    </div>
    
    <figure class="avatar">
      <img src="../../../assets/img/image 6.svg" alt="Avatar Pokemon">
    </figure>
    <figure class="evolution">
      <img src="../../../assets/img/evolution_1.svg" alt="Evolução 1">
      <img src="../../../assets/img/evolution_2.svg" alt="Evolução 2">
      <img src="../../../assets/img/evolution_3.svg" alt="Evolução 3">
      <img src="../../../assets/img/evolution_4.svg" alt="Evolução 4">
    </figure>
  </section>
  <section class="section2">
    <h4>Status</h4>
    <div class="graphic"></div>
  </section>
  <section class="section3">
    <div class="info_data">
      <h4>Informações</h4>
      <div class="data">
        <p class="data_type">Altura:</p>
        <p class="data_value">1.10cm</p>
      </div>
      <div class="data">
        <p class="data_type">Peso:</p>
        <p class="data_value">19kg</p>
      </div>
    </div>
    <div>
      <h4>Descrição</h4>
      <p>"Charmeleon destrói seus oponentes sem pena com suas garras afiadas. Torna-se agressivo quando encontra um oponente forte e então a chama na ponta da sua cauda queima intensamente em uma cor azulada."</p>
    </div>
  </section>
</div>
