*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  color:#2F3E77;
  font-family: var(--font-family-primary);
 
}

:root{
  --font-family-primary: 'Nunito', sans-serif;
  --text-color-primary: #2F3E77;
  --text-color-secondary: #EA686D;
  --text-color-light: #FFF;

  --bg-color-card:#FBFDFF;

  --box-shadow-input: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  --box-shadow-button:  0px 4px 15px 0px #EA686D;
  --box-shadow-card-details: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
