*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  color:#2F3E77;
  font-family: var(--font-family-primary);
 
}

:root{
  --font-family-primary: 'Nunito', sans-serif;
  --text-color-primary: #2F3E77;
  --text-color-secondary: #EA686D;
  --text-color-light: #FFF;
  --text-color-grey: #A2A9B0;

  --bg-color-primary: linear-gradient(180deg, #EFF4FA 0%, rgba(239, 244, 250, 0.00) 96.11%);
  
  --bg-color-card:#FBFDFF;
  --bg-color-card-active: rgba(234, 104, 109, 0.10);
  --bg-color-btn: #F7802A;
  --border-color-input: #F4F4F4;

  --box-shadow-input: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  --box-shadow-button:  0px 4px 15px 0px #EA686D;
  --box-shadow-card-details: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
